global  
	daemon  
	maxconn 256 
defaults  
	mode http  
	timeout connect 5000ms 
	timeout client 50000ms  
	timeout server 50000ms 

frontend http_front
	bind *:80 
	acl is_phpmyadmin path_beg -i /phpmyadmin  
	use_backend phpmyadmin_back if is_phpmyadmin  

#	acl is_wordpress path_beg -i /wordpress
#	use_backend wordpress_back if is_wordpress

	default_backend wordpress_back

backend wordpress_back
#	http-request replace-path /wordpress(/)?(.*) /\2
	server wordpress wordpress:80

backend phpmyadmin_back
	http-request replace-path /phpmyadmin(/)?(.*) /\2
	server phpmyadmin phpmyadmin:80
